tts_wrapper/engines/sherpaonnx/models/*
.build/*
creds/*
.envrc
venv/
.DS_Store
# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vscode
node_modules

# Secrets
.secrets/
.stamps/
credentials-private.json
examples/*.wav
examples/*.mp3
tts_wrapper/engines/sherpaonnx/testjson.py
/tts_wrapper/engines/avsynth/.build


# Docusaurus
website/.docusaurus
website/build
website/node_modules
