azure-cognitiveservices-speech==1.38.0 ; python_version >= "3.10" and python_version < "3.13"
boto3==1.34.151 ; python_version >= "3.10" and python_version < "3.13"
botocore==1.34.151 ; python_version >= "3.10" and python_version < "3.13"
cachetools==5.4.0 ; python_version >= "3.10" and python_version < "3.13"
certifi==2024.7.4 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
comtypes==1.4.5 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
google-api-core[grpc]==2.19.1 ; python_version >= "3.10" and python_version < "3.13"
google-auth==2.32.0 ; python_version >= "3.10" and python_version < "3.13"
google-cloud-texttospeech==2.16.4 ; python_version >= "3.10" and python_version < "3.13"
googleapis-common-protos==1.63.2 ; python_version >= "3.10" and python_version < "3.13"
grpcio-status==1.65.1 ; python_version >= "3.10" and python_version < "3.13"
grpcio==1.65.1 ; python_version >= "3.10" and python_version < "3.13"
gtts==2.5.2 ; python_version >= "3.10" and python_version < "3.13"
ibm-cloud-sdk-core==3.20.4 ; python_version >= "3.10" and python_version < "3.13"
ibm-watson==8.1.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.7 ; python_version >= "3.10" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
numpy==2.0.1 ; python_version >= "3.10" and python_version < "3.13"
proto-plus==1.24.0 ; python_version >= "3.10" and python_version < "3.13"
protobuf==5.27.2 ; python_version >= "3.10" and python_version < "3.13"
py3-tts==3.5 ; python_version >= "3.10" and python_version < "3.13"
pyasn1-modules==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
pyasn1==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
pyaudio==0.2.14 ; python_version >= "3.10" and python_version < "3.13"
pyjwt==2.8.0 ; python_version >= "3.10" and python_version < "3.13"
pyobjc-core==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-accessibility==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-accounts==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "12.0"
pyobjc-framework-addressbook==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-adservices==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-adsupport==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "18.0"
pyobjc-framework-applescriptkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-applescriptobjc==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-applicationservices==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-apptrackingtransparency==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-audiovideobridging==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "12.0"
pyobjc-framework-authenticationservices==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-automaticassessmentconfiguration==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-automator==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-avfoundation==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "11.0"
pyobjc-framework-avkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "13.0"
pyobjc-framework-avrouting==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-backgroundassets==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-businesschat==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "18.0"
pyobjc-framework-calendarstore==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "9.0"
pyobjc-framework-callkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-cfnetwork==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-classkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-cloudkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "14.0"
pyobjc-framework-cocoa==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-collaboration==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "9.0"
pyobjc-framework-colorsync==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "17.0"
pyobjc-framework-contacts==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-contactsui==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-coreaudio==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-coreaudiokit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-corebluetooth==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "14.0"
pyobjc-framework-coredata==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-corehaptics==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-corelocation==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-coremedia==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "11.0"
pyobjc-framework-coremediaio==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "11.0"
pyobjc-framework-coremidi==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-coreml==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "17.0"
pyobjc-framework-coremotion==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-coreservices==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-corespotlight==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "17.0"
pyobjc-framework-coretext==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-corewlan==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-cryptotokenkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "14.0"
pyobjc-framework-datadetection==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "21.0"
pyobjc-framework-devicecheck==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-dictionaryservices==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "9.0"
pyobjc-framework-discrecording==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-discrecordingui==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-diskarbitration==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-dvdplayback==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-eventkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "12.0"
pyobjc-framework-exceptionhandling==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-executionpolicy==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-extensionkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-externalaccessory==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "17.0"
pyobjc-framework-fileprovider==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-fileproviderui==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-findersync==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "14.0"
pyobjc-framework-fsevents==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-gamecenter==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "12.0"
pyobjc-framework-gamecontroller==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "13.0"
pyobjc-framework-gamekit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "12.0"
pyobjc-framework-gameplaykit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-healthkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-imagecapturecore==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-imserviceplugin==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "11.0"
pyobjc-framework-inputmethodkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "9.0"
pyobjc-framework-installerplugins==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-instantmessage==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "9.0"
pyobjc-framework-intents==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "16.0"
pyobjc-framework-intentsui==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "21.0"
pyobjc-framework-iosurface==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-ituneslibrary==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-kernelmanagement==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-latentsemanticmapping==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-launchservices==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-libdispatch==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "12.0"
pyobjc-framework-linkpresentation==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-localauthentication==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "14.0"
pyobjc-framework-localauthenticationembeddedui==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "21.0"
pyobjc-framework-mailkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "21.0"
pyobjc-framework-mapkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "13.0"
pyobjc-framework-mediaaccessibility==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "13.0"
pyobjc-framework-medialibrary==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "13.0"
pyobjc-framework-mediaplayer==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "16.0"
pyobjc-framework-mediatoolbox==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "13.0"
pyobjc-framework-metal==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-metalfx==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-metalkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-metalperformanceshaders==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "17.0"
pyobjc-framework-metalperformanceshadersgraph==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-metrickit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "21.0"
pyobjc-framework-mlcompute==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-modelio==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-multipeerconnectivity==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "14.0"
pyobjc-framework-naturallanguage==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "18.0"
pyobjc-framework-netfs==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-network==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "18.0"
pyobjc-framework-networkextension==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-notificationcenter==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "14.0"
pyobjc-framework-opendirectory==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-osakit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-oslog==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-passkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-pencilkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-photos==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-photosui==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-preferencepanes==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-pubsub==9.0.1 ; platform_release >= "9.0" and platform_release < "18.0" and python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-pushkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-quartz==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-quicklookthumbnailing==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-replaykit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-safariservices==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "15.0"
pyobjc-framework-safetykit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-scenekit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "11.0"
pyobjc-framework-screencapturekit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "21.4"
pyobjc-framework-screensaver==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-screentime==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-scriptingbridge==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "9.0"
pyobjc-framework-searchkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-security==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-securityfoundation==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-securityinterface==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-servicemanagement==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "10.0"
pyobjc-framework-sharedwithyou==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-sharedwithyoucore==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-shazamkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "21.0"
pyobjc-framework-social==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "12.0"
pyobjc-framework-soundanalysis==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-speech==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-spritekit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "13.0"
pyobjc-framework-storekit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "11.0"
pyobjc-framework-syncservices==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-systemconfiguration==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc-framework-systemextensions==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "19.0"
pyobjc-framework-threadnetwork==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "22.0"
pyobjc-framework-uniformtypeidentifiers==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-usernotifications==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "18.0"
pyobjc-framework-usernotificationsui==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-videosubscriberaccount==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "18.0"
pyobjc-framework-videotoolbox==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "12.0"
pyobjc-framework-virtualization==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "20.0"
pyobjc-framework-vision==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin" and platform_release >= "17.0"
pyobjc-framework-webkit==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pyobjc==9.0.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
pypiwin32==223 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.13"
pywin32==306 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.13"
s3transfer==0.10.2 ; python_version >= "3.10" and python_version < "3.13"
sherpa-onnx==1.10.20 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.2.2 ; python_version >= "3.10" and python_version < "3.13"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "3.13"
